.table_custom{
  min-width: 117px;
}
.dob{
  min-width: 126px;
}
.total_socco{
  min-width: 119px;
}
.avl_socco{
  min-width: 147px;
}
.commonstyle{
  min-width: 114px;
}

.commonstyle1{
  min-width: 176px;
}
.display-type{
  min-width: 119px;
}
.requred-socco{
  min-width: 143px;
}
.promo-cost{
  min-width: 148px;
}
.align-all{
  min-width: 148px;
}



.img-circle-in-list {
    width:40px; 
    padding-right:5px;
}
.media-sub-heading {
    font-size: 14px;
}

.row-content {
    font-size: 14px;
}

.row-content-small-socco {
    font-size: 24px;
    color:#000;
}

.dash_text_large {
    font-size: 22px;
    font-weight: lighter;
    margin-top: 0px;
}


.socco_value_large, .money_value_large {
    font-size: 34px;
    font-weight: lighter;
    margin-top: 0px;
}

.socco_image_large, .money_image_large {
    width:25px;
    margin-bottom: 6px;
    margin-left: 2px;
}

.socco_image_small, .money_image_small {
    width: 13px;
    margin-bottom: 0px;
    margin-left: 1px;
}
.status_small {
    height:25px;
    margin-bottom: 6px;
    margin-left: 2px;
}


.ckbox span{
    color:#000;
    font-size: 14px;
    font-weight: lighter;
}

.img-thumbnail{
    background-color: transparent;
    width:160px !important;
    height:120px !important;
    border-radius: 6px;
}


.img-thumbnail-small{
    width:40px !important;
    height:30px !important;
    border-radius: 6px;
}

#img_transfer_done, #img_item_delivered_check{
    width:70px;
}

.header_row{
    background: #f5f1f1;
    height:40px;
    line-height: 35px;
    margin-top: -20px;
}

.deliver_form_img{
    height:30px;
    margin-top: 8px;
    margin-left: 2px;  
}

.delivery_details_box{
    height:50px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding:10px;
}

#btn_update{
    width:125px;
}

.delivery_details_heading{
    margin-left:30px;
    margin-top:50px;
}

#loadingDiv{
	position:fixed;
	top:0; left:0;
	z-index:5;
	width:100%;
	height:100%;
	text-align: center;
	z-index:99999 !important;
    background-color: rgba(0,0,0,0.5);
    
}
#loadingImgDiv{
	margin-top: 200px !important;
	margin-right: auto;
	margin-left: auto;   
    width:300px;
    height: 300px;
    background:#fff;
    padding-top:100px;
    border: 1px solid #ccc;
    z-index:6;
    opacity: 1;

}

.border-bottom{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;.
    
}

.product_table tr td {
    background:#fff!important;
    border-bottom: 1px solid #ccc!important;
    margin-bottom:  5px!important;
    height:20px!important;
    line-height: 20px !important;
}

.product_table tr td:first-child {
    
    max-width: 400px!important;
}