.product_header{
    margin-left: 1%;
    color: #FFFFFF !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    letter-spacing: 1px;
    font-weight: 200 !important;
}
.product_subheader{
    width: 100%;
    margin-left: 1%;
    color: #FFFFFF !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    letter-spacing: 1px;
    font-weight: 100 !important;
}
#dataTable1_filter{
    display: none !important;
}
#dataTable1_length{
    display: none !important;
}
.cp_products{
    padding: 6px !important;
    margin-top: 3px;
}
.pb_products{
    margin-top: -7px;
}
.well_products{
    padding-top: 35px !important;
}
.clientdropdown_holder{
    margin-left: 37%;
}
.clientdropdown{
    width: 320px !important;
    text-align: left;
    border: 1px solid #E4E7EC !important;
    background-color: #505B72 !important;
}
.clientdropdown_caret{
    float: right;
    margin-top: 5px !important;
}
.dm_products{
    width: 320px !important;
}
.user_th_wrapper .user_th{
    color: #FFFFFF;
    font-size: 17px !important;
    margin-top: 7px;
}
.user_th_wrapper .user_th_first{
    padding-left: 35px;
}
.user_tbllist{
    font-weight: 400 !important;
}
.user_tbllist_phn{
    color: #999;
    font-weight: 100;
    font-size: 10px;
}
.user_list_first_row{
    margin-bottom: 30px !important;
    padding-bottom: 10px;
}
.border_grey{
    border-bottom: 1px solid #dfdfdf;
}
.user_list_second_row{
    margin-top: 10px;
    border-top: 1px dashed #ccc;
}
.margn_tp_10{
    margin-top: 10px !important;
}
.user_tbllist_row{
    border-top: 1px solid #ccc;
    margin-bottom: 10px;
}
.no_padding{
    padding: 0.05% !important;
}
.user_data_sec_row{
    font-weight:bold;
    color:#5bc0de;
    font-size: 14px;
}
.user_search{
    height: 40px;
}
.select3-selection{
    height: 43px !important;
    width: 50% !important;
    border-radius: 0 !important;
    background-color: #505B72 !important;
    border: 1px solid #cfcfcf !important;
}
.select3-dropdown{
    width: 345px !important;
}
.select3-selection__arrow{
    height: 41px !important;
    right: 350px !important;
}
#select3-client_list-container{
    line-height: 42px !important;
}
.select3-selection__rendered{
    color: #cfcfcf !important;
}
.add_new_btn_holder{
    margin-top: -45px;
}